body {
  background-color: #dfe5f9; /*rgba(149, 185, 224, 0.2);*/
  font-family: Arial, Helvetica, sans-serif;
}
button {
  display: block;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  transition: all 100ms ease-in;
  background-color: black;
}
button:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}
.dark {
  color: whitesmoke;
  background-color: #000;
}
.dark .container {
  color: whitesmoke;
  background-color: rgb(86, 86, 86);
}
.dark h1 {
  color: whitesmoke;
}
.dark a {
  color: whitesmoke;
}
.dark select {
  color: whitesmoke;
  background-color: grey;
}
.dark footer {
  color: rgb(86, 86, 86);
}
.container {
  max-width: 600px;
  margin: 100px auto;
  margin-bottom: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  background-color: white;
  padding: 40px;
  color: rgb(76, 75, 75);
  border-radius: 8px;
  border: 2px solid #4288f0;
}
.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed #38598b; /*rgba(0, 0, 0, 0.2);*/
}
.city:last-child {
  border: none;
}
.time {
  font-size: 38pt;
  font-weight: bold;
}
.time small {
  vertical-align: middle;
  font-size: 16pt;
}
.date {
  opacity: 0.7;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 36pt;
  color: #38598b;
}
h2 {
  margin: 0 0 5px;
  font-size: 28pt;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16pt;
}
a {
  text-decoration: none;
  color: #38598b;
  font-weight: 400;
}
a:hover {
  font-weight: bolder;
}
footer {
  text-align: center;
  font-size: 14pt;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 100px;
}
